<!DOCTYPE html>
<html>
<head>
<@h.head/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>性能监控</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet" href="${ctx}/static/css/dashboard.css" />
<link rel="stylesheet" href="${ctx}/static/css/global.css" />
<link rel="stylesheet" href="${ctx}/static/css/layout.css" />
<link rel="stylesheet" type="text/css"
	href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
<script type="text/javascript"
	src="${ctx}/static/index/js/jquery-3.2.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script type="text/javascript" src="${ctx}/static/js/monitor.js"></script>
<!-- <script type="text/javascript" src="${ctx}/static/js/layui.js"></script> -->
<script type="text/javascript"
	src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
</head>
<body>
	<!-- <div>
		<div class="admin-side-full">
			<i class="fa fa-life-bouy" aria-hidden="true"></i>
		</div>
		<div class="admin-side-toggle hamburger is-closed animated fadeInLeft"
			data-toggle="offcanvas">
			<i class="fa fa-bars"></i>
		</div>

	</div> -->
	<div id="wrapper" class="hjh_full_height toggled">
		<!-- <div class="overlay"></div> -->

		<!-- Sidebar -->
		<nav class="navbar navbar-inverse navbar-fixed-top"
			id="sidebar-wrapper" role="navigation">
			<ul class="nav sidebar-nav">
				<!-- <li><a href="#"><i class="fa fa-fw fa-home"></i> Home</a></li> -->
			</ul>
		</nav>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper" class="hjh_full_height" style="width: 90%;">
			<button type="button" class="hamburger is-open animated fadeInLeft"
				data-toggle="offcanvas">
				<span class="hamb-top"></span> <span class="hamb-middle"></span> <span
					class="hamb-bottom"></span>
			</button>
			<button id="expand" class="expandClass" type="button"><i class="glyphicon glyphicon-fullscreen" style="font-size:26px;margin-left: -6px;color:#fff;border:0px;"></i></button>
			<div id="content" class="hjh_full_height"></div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
</body>
<script type="text/javascript">
	var isExpand=false;
	$(document)
			.ready(
					function() {
						var trigger = $('.hamburger'), overlay = $('.overlay'), isClosed = true;

						trigger.click(function() {
							hamburger_cross();
						});

						/* $(document).on("click",".closeTT",function(){
							hamburger_cross();
							$('#wrapper').toggleClass('toggled');
						}); */

						function hamburger_cross() {

							if (isClosed == true) {
								overlay.hide();
								trigger.removeClass('is-open');
								trigger.addClass('is-closed');
								isClosed = false;
							} else {
								overlay.show();
								trigger.removeClass('is-closed');
								trigger.addClass('is-open');
								isClosed = true;
							}
						}

						$('[data-toggle="offcanvas"]').click(function() {
							$('#wrapper').toggleClass('toggled');
						});
						
						/** 事件监听区域 */
						$('#expand').on('click', function() {
							isExpand=!isExpand;
							console.log(isExpand);
							if(isExpand){
								var docElm = document.documentElement;
								//W3C  
								if(docElm.requestFullscreen) {
									docElm.requestFullscreen();
								}
								//FireFox  
								else if(docElm.mozRequestFullScreen) {
									docElm.mozRequestFullScreen();
								}
								//Chrome等  
								else if(docElm.webkitRequestFullScreen) {
									docElm.webkitRequestFullScreen();
								}
								//IE11
								else if(elem.msRequestFullscreen) {
									elem.msRequestFullscreen();
								}
							}else{
								document.exitFullscreen?document.exitFullscreen():document.mozCancelFullScreen?document.mozCancelFullScreen():document.webkitExitFullscreen?document.webkitExitFullscreen():'';
							}
							
						});
					});
</script>
</html>